*{
  margin: 0;

}
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: rgb(2,1,14);
  background: linear-gradient(90deg, rgba(2,1,14,1) 0%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 12rem;
}

.cinema{
  height: 12rem;
  width: 20rem;
}

.title{
 width: 15rem;
 margin-left: 22rem;

}

.App-link {
  color: #61dafb;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  background-color: #143359;
  justify-content: space-evenly;
  height: 4rem;

}

#home-button{
  width: 10rem;
  height: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(15, 15, 176);
  background-color: white;
  font-size: 1rem;
  margin-top: 0.5rem;
}



#filters{
  width: 10rem;
  height: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(15, 15, 176);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

#order{
  width: 10rem;
  height: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(15, 15, 176);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

option{
  width: 10rem;
  height: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(15, 15, 176);
  font-size: 1rem;
  border-radius: 50%;
}

body{
  background-image: url("./components/img/rollo.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#title-more{
  color: white;
  font-family: fantasy;
  font-size: 4rem;
  margin-top: 1rem;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.cards{
  flex: 23%;
  margin: 0.5rem;
  max-width: 18rem;
  max-height: 35rem;
  font-size: 12px;
  color: white;
}

#movie-title{
  color: white;
  font-weight: bold;
}

#movie-img{
  height: 390px
}

.card-text{
  background-color: #4a67da;
}

#pre-next{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  
}

#pre-btn{
  color:  rgb(15, 15, 176);
 
}
#next-btn{
  color:  rgb(15, 15, 176);
}


p{
  color: white;
  background-color: #143359;;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin-top: 0.2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
