*{
  margin: 0;

}
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo{
  height: 17rem;
  width: 55%;
}

.App-link {
  color: #61dafb;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  background-color: #9a9a9a;
  justify-content: space-evenly;

}

.home-button{
  width: 10rem;
  height: 5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #5c5c5c;
  font-size: 1rem;
  border-radius: 51%;
}

select{
  width: 10rem;
  height: 5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #5c5c5c;
  font-size: 1rem;
  border-radius: 51%;
}

option{
  width: 10rem;
  height: 5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #5c5c5c;
  font-size: 1rem;
  border-radius: 51%;
}

body{
  background-image: url("./components/img/background-movie.jpg");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
